
@import url('https://fonts.googleapis.com/css2?family=Doto:wght@100..900&display=swap');


*{
    font-family: "Doto", sans-serif;
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   
}

.main{
    width: 100%;
    height: 100vh;
    background: linear-gradient(to top, rgba(77, 110, 182, 0.5)50%,rgba(77, 110, 182, 0.5)50%), 
    url('1.vid.gif') no-repeat center center;
    background-size: cover;
    background-position: center center; 
}

.navbar{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    height: 65px;
    margin: auto;
}

.icon{
    width: 200px;
    height: 70px;
}

.logo{
    color: aqua;
    font-size: 45px;
    font-family: "Doto", sans-serif;
    padding-left: 50px;
    padding-top: 20px;
    margin-right: 50px;
}
.menu{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 40px;
    height: 70px;
    gap: 20px;
}
ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
}
ul li{
    list-style: none ;
    margin-top: 20px;
    font-size: 30px;
}
ul  li a{
    text-decoration: none;
    color: #ffffff;
    font-family: "Doto", sans-serif;
    font-weight: bold;
    transition: 0.3s ease-in-out;

}
ul li a:hover{
    color: #4f6f8a;
}

.header-container {
    display: flex;
    align-items: center; 
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 0;
    flex-wrap: wrap;
}

.profile-img {
    width: 250px; 
    height: 250px;
    border-radius: 20%; 
    object-fit: cover; 
    filter: brightness(90%);
    margin-right: 80px;
    flex-shrink: 0;
}

.content{
    width: auto;
    max-width: 1200px;
    min-width: 300px;
    flex: 1;
    color: #000000;
}

.content .par{
    padding-left: 20px;
    padding-bottom: 25px;
    letter-spacing: 1.2px;
    line-height: 30px;
    font-size: 20px;
    font-weight: bold;
}

.content h1 {
    font-size: 50px;
    padding-left: 10px;
    margin-top: 10%;
    letter-spacing: 2px;
}

.content h2 {
    font-size: 30px;
    padding-left: 10px;
    
}

.content .cn {
    width: 100px;
    height: 40px;
    background: #ffffff;
    border: none;
    margin-bottom: 10px;
    margin-left: 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out; 
}


.content .cn a {
    text-decoration: none;
    color: #000000;
    font-family: "Doto", sans-serif;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.content .cn:hover {
    background-color: #4f6f8a;
}

.section {
    padding: 80px 10%;
    opacity: 0;
    transform: translateY(50px);
    transition: all 0.6s ease;
}

.section.visible {
    opacity: 1;
    transform: translateY(0);
}